# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
node_modules
dist
dist-ssr
*.local

# Storybook build output
storybook-static/
**/storybook-static/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js build output
**/.next

# Yarn 4.x (Berry)
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
!.yarn/install-state.gz

# Uncomment the line below if NOT using Zero-Installs
#.yarn/cache

.yarn/unplugged
.yarn/build-state.yml

# Plug'n'Play
.pnp.*